<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <p class="font-weight-bold">Select a state.</p>
      <state-select (setState)="setIdState($event)"></state-select>
      <div class="checkbox" *ngFor="let num of intermediaryService.numbers">
        <label><input type="checkbox" [(ngModel)]="intermediaryService.booleansYears[num]"
            (ngModelChange)="victimizationGraphComponent.prepareGraph()">  {{2010 + num}}</label>
      </div>
    </div>
    <div class="col-8">
      <victimization-graph [idState]="idState"></victimization-graph>
    </div>
  </div>
</div>